body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.marquee-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.marquee {
    display: flex;
    animation: marquee 10s linear infinite;
}

.marquee span {
    white-space: nowrap;
}
.scroller[data-animated="true"]{
    overflow: hidden;
}
.scroller[data-animated="true"]{
    overflow: hidden;
}
.scroller{
    max-height: 100px!important;
    outline:3px solid lime;
}
.scroller__inner{
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
}