/* assets/css/estilo.css */
@font-face {
    font-family: 'Tiny';
    src: url('../fonts/webfontsTiny/TINY5x3-140.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NectoMono';
    src: url('../fonts/Web/NectoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'NectoMono', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 50%; /* Ajusta el ancho de la barra lateral según tus necesidades */
    background-color: #f0f0f0; /* Color de fondo de la barra lateral */
    display: flex;
    flex-direction: column; /* Asegura que el contenido adicional esté debajo del nombre */
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Oculta cualquier cosa fuera de los límites de la barra lateral */
}

.main-content {
    flex: 1; /* Esta propiedad hace que el contenido principal ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinea el contenido principal en la parte inferior */
    align-items: flex-end; /* Alinea el contenido principal a la derecha */
    padding: 20px;
    text-align: right;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #333; /* Color de los enlaces */
}

ul li a:hover {
    color: #007bff; /* Cambia este color según sea necesario */
}

.marquee {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Asegura que el contenido comience desde la parte superior */
    align-items: center;
    height: calc(100% - 50px); /* Ajusta el alto para dejar espacio al texto adicional */
    animation: scroll-vertical 20s linear infinite;
}

.rotated-name {
    transform: rotate(90deg);
    white-space: nowrap; /* Evita que el nombre se divida en varias líneas */
    font-family: 'Tiny';
    font-size: 12rem;
    padding: 20px 0; /* Ajusta el padding para un mejor loop */
}

.additional-info {
    padding: 1rem;
    margin-top: 0; /* Coloca el texto adicional al final del contenedor */
    font-size: 1rem; /* Ajusta el tamaño del texto adicional según sea necesario */
}

@keyframes scroll-vertical {
    0% {
        transform: translateY(300%);
    }
    100% {
        transform: translateY(-300%);
    }
}

.marquee:hover {
    animation-play-state: paused;
}
